{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container mt-5">
    {{ page.body|richtext }}
    <ul>
    {% for noticia in noticiaspages %}
    <li>  {{noticia.date}}<br>
        <a href="{% pageurl noticia %}">{{noticia.titulo}}</a><br>
        {{noticia.intro}}<br>
    </li>
        
    {% endfor %}
    </ul>
</div>
{% endblock content %}
